

{% block content %}

<div id="flood-exposure-map" style="width: 100%; height: 500px;"></div>


<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoiam91bGUyMzMxIiwiYSI6ImNtNzMyczF5YTBmdHIybHB3bXVqMWdiaGgifQ.WW8zxem2Mfu8jPk-L_kSdA';

    
    window.floodExposureMap = new mapboxgl.Map({ 
        container: 'flood-exposure-map',
        center: [121.7740, 12.8797],
        zoom: 4.5,
        style: 'mapbox://styles/mapbox/streets-v12'
    });

    // Create a base yellow circle element
    const baseYellowCircle = document.createElement('div');
    baseYellowCircle.style.width = '20px';
    baseYellowCircle.style.height = '20px';
    baseYellowCircle.style.borderRadius = '50%';
    baseYellowCircle.style.border = '2px solid white';
    baseYellowCircle.style.backgroundColor = '#FFC067';
    {% comment %} const floodExposureMap = new mapboxgl.Map({
        container: 'map', // container ID
        center: [121.7740, 12.8797], // Default center position [lng, lat]
        zoom: 4.5, // Default zoom
        style: 'mapbox://styles/mapbox/streets-v12' // Default map style
    }); {% endcomment %}


    const floodExposureMarker = new mapboxgl.Marker({
      element: baseYellowCircle.cloneNode(true)
        }).setLngLat([120.9849205, 14.59057479]) // Set position dynamically based on row data
        .setPopup(new mapboxgl.Popup().setHTML("<h4>SM Manila Shakeys Branch</h4>" +
  "<a>" +
    "<span style='display:inline-block; width:10px; height:10px; background-color:#FFC067; margin-right:5px;'></span>" +
    "Low Exposure" +
  "</a>")) // add popup
        .addTo(floodExposureMap);

    const floodExposureMarker2 = new mapboxgl.Marker({
      element: baseYellowCircle.cloneNode(true)
        })
        .setLngLat([121.042187, 14.49557534]) // Set position dynamically based on row data
        .setPopup(new mapboxgl.Popup().setHTML("<h4>Commissary in Paranque</h4>" +
  "<a>" +
    "<span style='display:inline-block; width:10px; height:10px; background-color:#FFC067; margin-right:5px;'></span>" +
    "Low Exposure" +
  "</a>")) // add popup
        .addTo(floodExposureMap);

    const floodExposureMarker3 = new mapboxgl.Marker({
      element: baseYellowCircle.cloneNode(true)
    })
    .setLngLat([125.1456158, 6.065404576]) // Set position dynamically based on row data
    .setPopup(new mapboxgl.Popup().setHTML("<h4>Coconut Processing Plant in Gen San</h4>" +
    "<a>" +
      "<span style='display:inline-block; width:10px; height:10px; background-color:#FFC067; margin-right:5px;'></span>" +
      "Low Exposure" +
    "</a>")) // add popup
    .addTo(floodExposureMap);

    const floodExposureMarker4 = new mapboxgl.Marker({
      element: baseYellowCircle.cloneNode(true)
    })
    .setLngLat([125.150691, 6.064051003]) // Set position dynamically based on row data
    .setPopup(new mapboxgl.Popup().setHTML("<h4>Tuna Processing Plant in Gen San</h4>" +
    "<a>" +
      "<span style='display:inline-block; width:10px; height:10px; background-color:#FFC067; margin-right:5px;'></span>" +
      "Low Exposure" +
    "</a>")) // add popup
    .addTo(floodExposureMap);
        
</script>

{% endblock %}