

{% block content %}

<div id="heat-exposure-map" style="width: 100%; height: 500px;"></div>


<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoiam91bGUyMzMxIiwiYSI6ImNtNzMyczF5YTBmdHIybHB3bXVqMWdiaGgifQ.WW8zxem2Mfu8jPk-L_kSdA';

    

    window.heatExposureMap = new mapboxgl.Map({ 
        container: 'heat-exposure-map',
        center: [121.7740, 12.8797],
        zoom: 4.5,
        style: 'mapbox://styles/mapbox/dark-v10'
    })
    .addControl(new mapboxgl.NavigationControl())
    .addControl(new mapboxgl.GeolocateControl())
    .addControl(new mapboxgl.ScaleControl())
    .addControl(new mapboxgl.FullscreenControl());

    // Create a base red circle element
    const heatExposureBaseRedCircle = document.createElement('div');
    heatExposureBaseRedCircle.style.width = '20px';
    heatExposureBaseRedCircle.style.height = '20px';
    heatExposureBaseRedCircle.style.borderRadius = '50%';
    heatExposureBaseRedCircle.style.border = '2px solid white';
    heatExposureBaseRedCircle.style.backgroundColor = 'red';

    // Create a base yellow circle element
    const heatExposureBaseYellowCircle = document.createElement('div');
    heatExposureBaseYellowCircle.style.width = '20px';
    heatExposureBaseYellowCircle.style.height = '20px';
    heatExposureBaseYellowCircle.style.borderRadius = '50%';
    heatExposureBaseYellowCircle.style.border = '2px solid white';
    heatExposureBaseYellowCircle.style.backgroundColor = '#FFC067';

    // Create markers using clones of the base elements
    const heatExposureMarker = new mapboxgl.Marker({ 
      element: heatExposureBaseRedCircle.cloneNode(true) 
    })
    .setLngLat([120.9849205, 14.59057479])
    .setPopup(new mapboxgl.Popup().setHTML(
      "<h4>SM Manila Shakeys Branch</h4>" +
      "<a>" +
        "<span style='display:inline-block; width:10px; height:10px; background-color: red; margin-right:5px;'></span>" +
        "High Exposure" +
      "</a>"
    ))
    .addTo(heatExposureMap);

    const heatExposureMarker2 = new mapboxgl.Marker({
      element: heatExposureBaseRedCircle.cloneNode(true)
    })
    .setLngLat([121.042187, 14.49557534])
    .setPopup(new mapboxgl.Popup().setHTML(
      "<h4>Commissary in Paranque</h4>" +
      "<a>" +
        "<span style='display:inline-block; width:10px; height:10px; background-color: red; margin-right:5px;'></span>" +
        "High Exposure" +
      "</a>"
    ))
    .addTo(heatExposureMap);

    const heatExposureMarker3 = new mapboxgl.Marker({
      element: heatExposureBaseYellowCircle.cloneNode(true)
    })
    .setLngLat([125.1456158, 6.065404576])
    .setPopup(new mapboxgl.Popup().setHTML(
      "<h4>Coconut Processing Plant in Gen San</h4>" +
      "<a>" +
        "<span style='display:inline-block; width:10px; height:10px; background-color:#FFC067; margin-right:5px;'></span>" +
        "Low Exposure" +
      "</a>"
    ))
    .addTo(heatExposureMap);

    const heatExposureMarker4 = new mapboxgl.Marker({
      element: heatExposureBaseYellowCircle.cloneNode(true)
    })
    .setLngLat([125.150691, 6.064051003])
    .setPopup(new mapboxgl.Popup().setHTML(
      "<h4>Tuna Processing Plant in Gen San</h4>" +
      "<a>" +
        "<span style='display:inline-block; width:10px; height:10px; background-color:#FFC067; margin-right:5px;'></span>" +
        "Low Exposure" +
      "</a>"
    ))
    .addTo(heatExposureMap);
        
</script>

{% endblock %}