<div class="col-md-6">
    <div class="card h-100 mb-3 custom-card">
        <div class="card-header no-border">
            <strong>Select Climate/Weather Hazards</strong>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="checkbox-grid">
                    {% for field in climate_hazards_fields %}
                    <div class="form-check checkbox-container">
                        <!-- Custom Checkbox -->
                        <input type="checkbox" class="form-check-input custom-checkbox" name="fields" value="{{ field }}" id="{{ field }}" onclick="toggleCheckbox(this)">
                        <label class="form-check-label custom-checkbox-label" for="{{ field }}">
                            {{ field }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>