# virtual environment
.venv/
CRAproject/.env

# Django static files
staticfiles/
static/admin/
media/

# Climate Risk Assessment app specific static files
*/static/input_files/
tropical_cyclone_analysis/static/input_files/
sea_level_rise_analysis/static/input_files/
climate_hazards_analysis/static/input_files/
flood_exposure_analysis/static/input_files/
water_stress/static/input_files/
heat_exposure_analysis/static/input_files/

# Database files
*.sqlite3
*.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local