.steps-container {
    padding-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.step-group-headers {
    display: flex;
    justify-content: space-between;
}

.step-header {
    position: relative;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 600;
    border: 5px solid #dee2e6;
    border-radius: 4px;
    background-color: #f8f9fa;
}

.active-step-header {
    border-color: #F1D500 !important;
}

.active-step-header.arrow::after {
    border-left-color: #F1D500 !important;
}

.step-header.arrow {
    margin-right: 20px;
}

.step-header.arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 20px solid #dee2e6;
}

.step-header.arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 18px solid #f8f9fa;
}

.step-item {
    transition: all 0.3s ease;
    flex: 1 0 20%;
}

.step-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.step-label {
    transition: color 0.3s ease;
    font-size: 14px;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .step-label {
        font-size: 12px;
    }

    .step-circle {
        width: 40px !important;
        height: 40px !important;
    }

    .step-item {
        flex: 1 0 45%;
        margin-bottom: 1rem;
    }
}