{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Sign Up</h2>
<form id="signup-form">
  <label for="username">Username:</label>
  <input id="username" name="username" type="text" required>
  <label for="email">Email:</label>
  <input id="email" name="email" type="email">
  <label for="password">Password:</label>
  <input id="password" name="password" type="password" required>
  <button type="submit">Sign Up</button>
</form>
<script src="{% static 'js/auth.js' %}"></script>
<script>
  setupSignup();
</script>
{% endblock %}