<table class="table table-borderless text-center">
    <thead>
        <tr class="step-group-headers">
            <th id="overlay-header" class="step-header arrow text-center" colspan="2" style="width:30%;">Exposure Overlay</th>
            <th id="override-header" class="step-header arrow text-center" colspan="1" style="width:15%;">Exposure Override</th>
            <th id="sensitivity-header" class="step-header arrow text-center" colspan="2" style="width:30%;">Sensitivity Analysis</th>
            <th id="impact-header" class="step-header text-center" colspan="1" style="width:15%;">Impact Assessment</th>
        </tr>
    </thead>
    <tbody>
        <tr class="steps-container">
            <td style="width:15%;">
                <div class="step-item d-flex flex-column align-items-center mb-2">
                    <div class="step-circle d-flex justify-content-center align-items-center" style="width: 50px; height: 50px; border-radius: 50%; font-weight: bold; margin-bottom: 10px;">1</div>
                    <div class="step-label" style="font-weight:500;">Upload Asset Data</div>
                </div>
            </td>
            <td style="width:15%;">
                <div class="step-item d-flex flex-column align-items-center mb-2">
                    <div class="step-circle d-flex justify-content-center align-items-center" style="width: 50px; height: 50px; border-radius: 50%; font-weight: bold; margin-bottom: 10px;">2</div>
                    <div class="step-label" style="font-weight:500;">Select Hazards and Scenarios</div>
                </div>
            </td>
            <td style="width:15%;">
                <div class="step-item d-flex flex-column align-items-center">
                    <div class="step-circle d-flex justify-content-center align-items-center" style="width: 50px; height: 50px; border-radius: 50%; font-weight: bold; margin-bottom: 10px;">3</div>
                    <div class="step-label" style="font-weight:500;">Consider Site Conditions to Adjust Magnitude</div>
                </div>
            </td>
            <td style="width:15%;">
                <div class="step-item d-flex flex-column align-items-center mb-2">
                    <div class="step-circle d-flex justify-content-center align-items-center" style="width: 50px; height: 50px; border-radius: 50%; font-weight: bold; margin-bottom: 10px;">4</div>
                    <div class="step-label" style="font-weight:500;">Adjust Sensitivity Thresholds</div>
                </div>
            </td>
            <td style="width:15%;">
                <div class="step-item d-flex flex-column align-items-center">
                    <div class="step-circle d-flex justify-content-center align-items-center" style="width: 50px; height: 50px; border-radius: 50%; font-weight: bold; margin-bottom: 10px;">5</div>
                    <div class="step-label" style="font-weight:500;">View Sensitivity Results</div>
                </div>
            </td>
            <td style="width:15%;"></td>
        </tr>
    </tbody>
</table>